version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: nodejs-backend
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/dd_db
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: angular-frontend
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

volumes:
  mongo-data:
